---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=25&location=San%20Francisco&start_date=1709290081
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2024-03-02T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-b98889cf5-w8zlw; site=public_api_v3
      X-Tracing-Auth:
      - QzQgW9bq1xyxSbks_juWx5EHjyq78B9wihtzfplZg8o
      Ratelimit-Dailylimit:
      - '500.0'
      X-Zipkin-Id:
      - fae9e9e5cbf3d0da
      Ratelimit-Remaining:
      - '289.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-180-149-useast1bprod
      X-Extlb:
      - 10-65-180-149-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 1, "category": "music", "cost": null,
        "cost_max": null, "description": "Experience the Trash of Dore Alley and Filth
        of Folsom Street Fair in an electrifying celebration of Pride in San Francisco!
        Step into a world where the...", "event_site_url": "https://www.yelp.com/events/san-francisco-br%C3%BCt-party-sf-pride-2024?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "san-francisco-br\u00fct-party-sf-pride-2024", "image_url": "https://s3-media1.fl.yelpcdn.com/ephoto/YykqbGhSFQxAgbrOGG1aaQ/o.jpg",
        "interested_count": 0, "is_canceled": false, "is_free": false, "is_official":
        false, "latitude": 37.767642, "longitude": -122.406565, "name": "BR\u00dcT
        Party  - SF Pride 2024", "tickets_url": "https://www.eventbrite.com/e/brut-sf-pride-2024-tickets-753970705677",
        "time_end": "2024-06-29T04:00:00-07:00", "time_start": "2024-06-28T22:00:00-07:00",
        "location": {"address1": "119 Utah St", "address2": "", "address3": null,
        "city": "San Francisco", "zip_code": "94103", "country": "US", "state": "CA",
        "display_address": ["119 Utah St", "San Francisco, CA 94103"], "cross_streets":
        "Alameda St & 15th St"}, "business_id": "the-great-northern-san-francisco-2"},
        {"attending_count": 1, "category": "food-and-drink", "cost": 12.0, "cost_max":
        25.0, "description": "Chocolate lovers, get ready for a world of premium chocolate!
        The most delicious of California artisan chocolate events, and now in its
        16TH Year!\n\nThe...", "event_site_url": "https://www.yelp.com/events/san-francisco-san-francisco-chocolate-salon-and-festival-2024?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_ap[...]
[...]
