---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?latitude=48.067724&limit=10&longitude=12.860816&price=1&start_date=1709186815
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-7d94c5566-ltxz6; site=public_api_v3
      Ratelimit-Remaining:
      - '368.0'
      X-Zipkin-Id:
      - 5676613918c546ba
      Ratelimit-Resettime:
      - '2024-03-01T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '500.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-172-4-useast1bprod
      X-Extlb:
      - 10-65-172-4-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [], "total": 0}'
  recorded_at: Thu, 29 Feb 2024 06:06:55 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/events?latitude=0&limit=3&longitude=0&price=1&radius=40000&start_date=1709230930
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Tracing-Auth:
      - cMIsyC-UvervPaWr1p3GjsXQJlrV1SHZo6yq34YNPQk
      Ratelimit-Resettime:
      - '2024-03-01T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-b98889cf5-s4kxb; site=public_api_v3
      X-Zipkin-Id:
      - 7a2d465fb5d95e72
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '193.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-172-4-useast1bprod
      X-Extlb:
      - 10-65-172-4-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 333, "category": "festivals-fairs",
        "cost": null, "cost_max": null, "description": "What/Why:\nTo celebrate Valentine''s
        Day, Yelp has partnered with a number of local businesses around DC for the
        2nd year in a row to offer different deals...", "event_site_url": "https://www.yelp.com/events/washington-coming-soon-be-my-elite-2024?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "washington-coming-soon-be-my-elite-2024", "image_url": "https://s3-media2.fl.yelpcdn.com/ephoto/AGi0YrRchMbvuSo79IhrUw/o.jpg",
        "interested_count": 33, "is_canceled": false, "is_free": true, "is_official":
        true, "latitude": 38.89485564327029, "longitude": -77.02866076253567, "name":
        "COMING SOON! Be My Elite 2024", "tickets_url": "http://bemyelitedc.com",
        "time_end": "2024-02-29T23:30:00-05:00", "time_start": "2024-02-01T00:00:00-05:00",
        "location": {"address1": null, "address2": null, "address3": null, "city":
        "Washington, DC", "zip_code": "20004", "country": "US", "state": "DC", "display_address":
        ["Washington, DC 20004"], "cross_streets": ""}, "business_id": "washington-dc-washington-6"},
        {"attending_count": 1, "category": "other", "cost": null, "cost_max": null,
        "description": "Join us this March to celebrate Women''s History Month! Discover
        and elevate women-owned and women-run businesses right here in the South Bay
        through a...", "event_site_url": "https://www.yelp.com/events/san-jose-women-run-the-south-bay?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=G[...]
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/events?latitude=48.067724&limit=10&longitude=12.860816&price=1&radius=40000&start_date=1709231586
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 578e5fbc755d6cb8
      X-Tracing-Auth:
      - ATT69sACwmtphEdHAVK2p9lreqt_sm8j8zZBTkfw19c
[...]
[...]
