---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=10&location=gobbler%27s%20knob,%20pa&radius=40000&start_time=1709281160
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 14fe9f1254554a07
      Ratelimit-Resettime:
      - '2024-03-02T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-b98889cf5-526c8; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      X-Tracing-Auth:
      - rE3VlOljMiheiVsszgltSjqo7wLDxez0O8WTZLM2egw
      Ratelimit-Remaining:
      - '339.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-80-125-useast1aprod
      X-Extlb:
      - 10-65-80-125-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 1, "category": "charities", "cost":
        null, "cost_max": null, "description": "May Mart 16th and 17th 2014\nFLOWERS
        - CRAFTS - FOOD \nOVER 75 VENDORS & CRAFTERS FILLING \nTWO ARENAS and  SELLING
        UNIQUE ITEMS \nFriday the 16th from 10 AM to...", "event_site_url": "https://www.yelp.com/events/indiana-may-mart?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "indiana-may-mart", "image_url": "https://s3-media2.fl.yelpcdn.com/ephoto/o63oqJCoeYRU_jtQxrYGpA/o.jpg",
        "interested_count": 0, "is_canceled": false, "is_free": true, "is_official":
        false, "latitude": 40.6201232, "longitude": -79.1287319, "name": "May Mart",
        "tickets_url": "", "time_end": null, "time_start": "2014-05-16T10:00:00-04:00",
        "location": {"address1": "475 East Pike", "address2": "", "address3": "",
        "city": "Indiana", "zip_code": "15701", "country": "US", "state": "PA", "display_address":
        ["475 East Pike Road, Indiana, PA 15701"], "cross_streets": ""}, "business_id":
        null}, {"attending_count": 0, "category": "festivals-fairs", "cost": null,
        "cost_max": null, "description": "Jimmy Stewart Airport Festival is a two
        day event held every year in the spring.  This year, the Airport  Festival
        will be held on Saturday and Sunday, June...", "event_site_url": "https://www.yelp.com/events/indiana-jimmy-stewart-airport-festival?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GAri[...]
[...]
