---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=3&location=San%20Francisco&price=1&radius=40000&start_date=1709235485
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '500.0'
      X-Zipkin-Id:
      - 5956b2eca7db85c4
      Ratelimit-Remaining:
      - '52.0'
      Ratelimit-Resettime:
      - '2024-03-01T00:00:00+00:00'
      X-Tracing-Auth:
      - 1NPAY6bFa5gG-mYXu1DwOeM8Q3DgRDqSHdETVMgM-M0
      X-Routing-Service:
      - routing-main--useast1-b98889cf5-b76h6; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-187-35-useast1bprod
      X-Extlb:
      - 10-65-187-35-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 189, "category": "other", "cost": null,
        "cost_max": null, "description": "Are you ready to celebrate Women''s History
        Month with #WomenRunSF in March? \nIn fact, we''re so excited that we''re
        going to be keping the celebration going...", "event_site_url": "https://www.yelp.com/events/san-francisco-women-run-sf?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "san-francisco-women-run-sf", "image_url": "https://s3-media1.fl.yelpcdn.com/ephoto/FnjiIpLcDBg8wnjtUHTQsA/o.jpg",
        "interested_count": 29, "is_canceled": false, "is_free": true, "is_official":
        true, "latitude": 37.7726402, "longitude": -122.4099154, "name": "Women Run
        SF", "tickets_url": null, "time_end": "2024-04-06T00:00:00-07:00", "time_start":
        "2024-03-07T00:00:00-08:00", "location": {"address1": "", "address2": "",
        "address3": "", "city": "San Francisco", "zip_code": "94103", "country": "US",
        "state": "CA", "display_address": ["San Francisco, CA 94103"], "cross_streets":
        ""}, "business_id": "city-of-san-francisco-san-francisco"}, {"attending_count":
        1, "category": "food-and-drink", "cost": null, "cost_max": null, "description":
        "#WomenRunSF - https://www.yelp.com/events/san-francisco-women-run-sf\n\nCelebrate
        #26 top 100 places to drink in the Bay Area!\nLost Cat Bar & Bites is a...",
        "event_site_url": "https://www.yelp.com/events/san-francisco-women-run-sf-yelp-community-event-lost-cat-bar-and-bites-x-cantoo-latin-asian-rotisserie-x-zaddys?adjust_c[...]
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=&location=San%20Francisco&price=1&radius=40000&start_date=1709236056
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - d42b3dbad75d8a38
      Ratelimit-Resettime:
      - '2024-03-01T00:00:00+00:00'
      X-Tracing-Auth:
     [...]
[...]
