---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=10&location=San%20Francisco&price=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2024-02-29T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-7d94c5566-k5hb8; site=public_api_v3
      X-Zipkin-Id:
      - 4702e416b7068d42
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '356.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-175-176-useast1bprod
      X-Extlb:
      - 10-65-175-176-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 921, "category": "nightlife", "cost":
        null, "cost_max": null, "description": "Come join the Yelp Team and all of
        Yelpland in celebrating our 3rd Annual Yelp Holiday Party! Just some of the
        \"funny, useful and cool\" thrills will include...", "event_site_url": "https://www.yelp.com/events/san-francisco-peace-love-and-yelp-our-3rd-annual-holiday-party?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "san-francisco-peace-love-and-yelp-our-3rd-annual-holiday-party", "image_url":
        "https://s3-media2.fl.yelpcdn.com/ephoto/5Y1VFZBPHF9IIOO_IIpnhQ/o.jpg", "interested_count":
        73, "is_canceled": false, "is_free": true, "is_official": false, "latitude":
        37.78574, "longitude": -122.40255, "name": "Peace, Love & Yelp: Our 3rd Annual
        Holiday Party!", "tickets_url": "", "time_end": "2007-12-05T23:00:00-08:00",
        "time_start": "2007-12-05T20:30:00-08:00", "location": {"address1": "701 Mission
        St", "address2": "", "address3": "", "city": "San Francisco", "zip_code":
        "94103", "country": "US", "state": "CA", "display_address": ["701 Mission
        St", "San Francisco, CA 94103"], "cross_streets": "Opera Aly & 3rd St"}, "business_id":
        "yerba-buena-center-for-the-arts-san-francisco"}, {"attending_count": 1, "category":
        "other", "cost": null, "cost_max": null, "description": "It''s big. It''s
        sexy. It''s warm. It''s fuzzy. It''s the 5th annual Yelp holiday extravaganza,
        Yelp Unwrapped!\n\nWhen: Monday, December 7th, 2009\nWhere: The...", "event_site_url":
        "https://www.yelp.com/events/san-francisco-yelp-unwrapped-holiday-party?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v[...]
