---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=10&location=90210&price=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-7d94c5566-k6wtg; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      X-Zipkin-Id:
      - d4894e1c124b5f5f
      Ratelimit-Remaining:
      - '464.0'
      Ratelimit-Resettime:
      - '2024-02-29T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-187-35-useast1bprod
      X-Extlb:
      - 10-65-187-35-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 772, "category": "visual-arts", "cost":
        12.0, "cost_max": 20.0, "description": "From Beetlejuice to Batman, from Ed
        Wood to Willy Wonka, the characters that Tim Burton has brought to movie screens
        are notable for their dark...", "event_site_url": "https://www.yelp.com/events/los-angeles-tim-burton-exhibit-at-lacma-may-29-oct-31-2011?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "los-angeles-tim-burton-exhibit-at-lacma-may-29-oct-31-2011", "image_url":
        "https://s3-media2.fl.yelpcdn.com/ephoto/kLVznA_spGTYTfU5PU_5Dw/o.jpg", "interested_count":
        216, "is_canceled": false, "is_free": false, "is_official": false, "latitude":
        34.063931, "longitude": -118.35923, "name": "Tim Burton Exhibit at LACMA May
        29- Oct 31, 2011", "tickets_url": "", "time_end": null, "time_start": "2011-05-29T10:00:00-07:00",
        "location": {"address1": "5905 Wilshire Blvd", "address2": "", "address3":
        "", "city": "Los Angeles", "zip_code": "90036", "country": "US", "state":
        "CA", "display_address": ["5905 Wilshire Blvd", "Los Angeles, CA 90036"],
        "cross_streets": ""}, "business_id": "los-angeles-county-museum-of-art-los-angeles-11"},
        {"attending_count": 138, "category": "film", "cost": null, "cost_max": null,
        "description": "\"Alice in Wonderland\" final Friday\n\nTim Burton films under
        the stars at the Tar Pits.\nFilms start at sundown (between 8 and 8:30 pm).\n\n4
        Friday Outdoor Film...", "event_site_url": "https://www.yelp.com/events/los-angeles-tim-burton-free-film-screenings-outdooors-at-lacma-fridays-free-jazz-if-you-arrive-early-see-f[...]
