---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=5&location=70117&price=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-7d94c5566-6nvmg; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '460.0'
      X-Zipkin-Id:
      - d4295172ffdb9901
      Ratelimit-Resettime:
      - '2024-02-29T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-172-4-useast1bprod
      X-Extlb:
      - 10-65-172-4-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 144, "category": "festivals-fairs",
        "cost": null, "cost_max": null, "description": "The Yelp Elite from all over
        the US are invited to converge upon New Orleans for a long weekend to remember...
        (heheh, maybe). Get those livers ready:...", "event_site_url": "https://www.yelp.com/events/new-orleans-yelp-spring-break-new-orleans?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "new-orleans-yelp-spring-break-new-orleans", "image_url": "https://s3-media3.fl.yelpcdn.com/ephoto/YWjVtjtmYa8rAT5upTJHHw/o.jpg",
        "interested_count": 149, "is_canceled": false, "is_free": true, "is_official":
        false, "latitude": 29.9521082, "longitude": -90.07704199999999, "name": "Yelp
        Spring Break New Orleans", "tickets_url": null, "time_end": "2013-05-12T17:00:00-05:00",
        "time_start": "2013-05-04T00:00:00-05:00", "location": {"address1": "1300
        Perdido St", "address2": "", "address3": "", "city": "New Orleans", "zip_code":
        "70112", "country": "US", "state": "LA", "display_address": ["1300 Perdido
        St", "New Orleans, LA 70112"], "cross_streets": ""}, "business_id": "city-of-new-orleans-new-orleans-2"},
        {"attending_count": 1, "category": "nightlife", "cost": null, "cost_max":
        null, "description": "You''re invited to \"Come Fly Away With Yelp\" at the
        famed National WWII Museum''s US Freedom Pavilion: The Boeing Center for a
        night where partygoers pay...", "event_site_url": "https://www.yelp.com/events/new-orleans-come-fly-away-with-yelp-at-the-national-wwii-museums-us-freedom-pavilion-the-boeing-center?adjust_creative=GArijE[...]
