---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=13&location=70117&start_date=1709153023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2024-02-29T00:00:00+00:00'
      X-Routing-Service:
      - routing-canary--useast1-5dfbc96755-cdlt7; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '425.0'
      X-Zipkin-Id:
      - ef2ff20d900ac83d
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-180-149-useast1bprod
      X-Extlb:
      - 10-65-180-149-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 1, "category": "performing-arts", "cost":
        20.0, "cost_max": null, "description": "New Orleans top entertainers are putting
        on our Sunday best for this over-the-top burlesque and variety show that promises
        looks to kill and acts to die...", "event_site_url": "https://www.yelp.com/events/new-orleans-the-opulence-hour-burlesque-and-variety-show-7?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "new-orleans-the-opulence-hour-burlesque-and-variety-show-7", "image_url":
        "https://s3-media3.fl.yelpcdn.com/ephoto/9N1PwVUDPVJwGHfwgjittA/o.jpg", "interested_count":
        0, "is_canceled": false, "is_free": false, "is_official": false, "latitude":
        29.9627937, "longitude": -90.0580004, "name": "The Opulence Hour Burlesque
        & Variety Show", "tickets_url": "", "time_end": "2024-06-02T20:00:00-05:00",
        "time_start": "2024-05-05T20:00:00-05:00", "location": {"address1": "508 Frenchmen
        St", "address2": "", "address3": "", "city": "New Orleans", "zip_code": "70116",
        "country": "US", "state": "LA", "display_address": ["508 Frenchmen St", "New
        Orleans, LA 70116"], "cross_streets": ""}, "business_id": "the-maison-new-orleans"},
        {"attending_count": 1, "category": "performing-arts", "cost": 20.0, "cost_max":
        null, "description": "New Orleans top entertainers are putting on our Sunday
        best for this over-the-top burlesque and variety show that promises looks
        to kill and acts to die...", "event_site_url": "https://www.yelp.com/events/new-orleans-the-opulence-hour-burlesque-and-variety-show-8?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium[...]
