---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=25&location=90210&start_date=1709155580
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '374.0'
      Ratelimit-Resettime:
      - '2024-02-29T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '500.0'
      X-Zipkin-Id:
      - 99fa98ed644e1a2d
      X-Routing-Service:
      - routing-main--useast1-7d94c5566-zkrrw; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-180-149-useast1bprod
      X-Extlb:
      - 10-65-180-149-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 1, "category": "other", "cost": 10.0,
        "cost_max": null, "description": "This group focuses on training evidence
        based self defense and physical aptitude as well as a philosophical approach
        to life and wellbeing.\n\nWe meet twice...", "event_site_url": "https://www.yelp.com/events/los-angeles-bruce-lees-jeet-kune-do-semi-private-group-45?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "los-angeles-bruce-lees-jeet-kune-do-semi-private-group-45", "image_url":
        "https://s3-media2.fl.yelpcdn.com/ephoto/sU9NTbLLO94nzni8U1U5WA/o.jpg", "interested_count":
        0, "is_canceled": false, "is_free": false, "is_official": false, "latitude":
        34.11392292617209, "longitude": -118.40679584637964, "name": "Bruce Lee''s
        Jeet Kune Do - Semi-Private Group", "tickets_url": "", "time_end": "2024-03-02T11:00:00-08:00",
        "time_start": "2024-03-02T09:00:00-08:00", "location": {"address1": "Los Angeles",
        "address2": "", "address3": "", "city": "Los Angeles", "zip_code": "", "country":
        "US", "state": "CA", "display_address": ["Los Angeles, CA"], "cross_streets":
        ""}, "business_id": null}, {"attending_count": 1, "category": "other", "cost":
        10.0, "cost_max": null, "description": "This group focuses on training evidence
        based self defense and physical aptitude as well as a philosophical approach
        to life and wellbeing.\n\nWe meet twice...", "event_site_url": "https://www.yelp.com/events/los-angeles-bruce-lees-jeet-kune-do-semi-private-group-46?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GAr[...]
[...]
