---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/events?limit=25&location=90210&price=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2024-02-28T00:00:00+00:00'
      X-Zipkin-Id:
      - 0bdbd0f621d3b1c9
      X-Routing-Service:
      - routing-main--useast1-7d94c5566-j5qwp; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '482.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-92-107-useast1aprod
      X-Extlb:
      - 10-65-92-107-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"events": [{"attending_count": 98, "category": "food-and-drink", "cost":
        15.0, "cost_max": 30.0, "description": "How''s the dining? Let us know! Review
        Restaurant Week here:\nhttp://www.yelp.com/biz/yelp-restaurant-week-2009-los-angeles\n\no-o-o-o-o\n\nReal
        People, Real...", "event_site_url": "https://www.yelp.com/events/park-la-brea-1st-annual-yelp-restaurant-week?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4Sbo30Lu3oAuVkLA",
        "id": "park-la-brea-1st-annual-yelp-restaurant-week", "image_url": "https://s3-media2.fl.yelpcdn.com/ephoto/pJmXKJ6Anw6fTSw1xi5zZw/o.jpg",
        "interested_count": 132, "is_canceled": false, "is_free": false, "is_official":
        false, "latitude": 34.069358, "longitude": -118.350583, "name": "1st Annual
        Yelp Restaurant Week!", "tickets_url": "", "time_end": null, "time_start":
        "2009-06-05T12:00:00-07:00", "location": {"address1": "See List Below", "address2":
        "", "address3": "", "city": "Park La Brea", "zip_code": "90036", "country":
        "US", "state": "CA", "display_address": ["Park La Brea, CA 90036"], "cross_streets":
        ""}, "business_id": null}, {"attending_count": 772, "category": "visual-arts",
        "cost": 12.0, "cost_max": 20.0, "description": "From Beetlejuice to Batman,
        from Ed Wood to Willy Wonka, the characters that Tim Burton has brought to
        movie screens are notable for their dark...", "event_site_url": "https://www.yelp.com/events/los-angeles-tim-burton-exhibit-at-lacma-may-29-oct-31-2011?adjust_creative=GArijE4Sbo30Lu3oAuVkLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=GArijE4[...]
[...]
